@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #231f20;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
/* TODO adjust this */
.leaflet-container {
    width: 800px;
    height: 500px;
}
