@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #231f20;
    font-weight: 400;
    /* background-color: #f9f9f9; */
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
/* Need width and height to render the map */
.leaflet-container {
    flex: 1;
    width: 500px;
    height: 400px;
    border-radius: 1rem;
}

input[type='checkbox'] {
    accent-color: #f0a323;
}

.sidebar-link__active {
    font-weight: 700;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #fedca5 50%, #fedca5 100%);
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.spinner {
    animation: rotate 2s linear infinite;
}
.spinner circle {
    animation: dash 1.5s ease-in-out infinite;
}
